@model SGEP.Models.ForgotPasswordViewModel

<div class="modal fade" id="modal-forgot" tabindex="-1" role="dialog" aria-labelledby="modal-forgot-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-forgot-title">Esqueci minha senha</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Enviaremos um link para seu e-mail onde você poderá alterar sua senha.
                </p>
                <form asp-action="ForgotPassword" asp-controller="User" id="form-forgot">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="E-mail" class="control-label">Insira seu e-mail</label>
                        <input id="Email" name="Email" asp-for="Email" class="form-control squareborder" type="email" />
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Enviar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>