@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<br />
<br />
<div class="row justify-content-center">
    <div class="col-md-6">
        <section>
            @await Html.PartialAsync("Partial/Index/_AlertContainer")
            <form method="post">
                <h3 class="text-center">Log in</h3>
                <hr />
                <div asp-validation-summary="All" class="text-danger error-message-correction"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control squareborder" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control squareborder" />
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success squareborder"><i class="fas fa-sign-in-alt"></i> Entrar</button>
                    <a href="#" class="text-secondary squareborder" data-toggle="modal" data-target="#modal-forgot"> Esqueci minha senha</a>
                </div>
            </form>
        </section>
    </div>
</div>
<br />
<br />

@await Html.PartialAsync("_ForgotPasswordModal", null, ViewData)


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $('#form-forgot').submit(function (e) {
            e.preventDefault()
            if ($(this).valid()) {
                console.log('a');
                fetch('/Identity/Account/ForgotPassword', {
                    method: 'post',
                    body: new FormData(document.querySelector('#form-forgot'))
                });
                $('#modal-forgot').modal('hide');
                get.id ('form-forgot').reset();
                showAlert("Verifique sua caixa de entrada.", 'warning');
            }
        });
    </script>
}
