@page
@model ResetPasswordConfirmationModel

@{
    ViewData["Title"] = "Alterar senha";
}

<br />
<br />
<div class="text-center">
    <h3>
        Sua senha foi alterada com sucesso!
    </h3>
    <a asp-page="./Login">clique aqui para entrar</a>
</div>
<br />
<br />
