@model IEnumerable<SGEP.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<br />
<h2>Funcionários</h2>
<br />
<button onclick="add()" class="btn btn-success squareborder"><i class="fas fa-plus"></i> Adicionar</button>
<button id="edit" 
        class="btn btn-outline-secondary squareborder" 
        disabled 
        title="Selecione um item da lista abaixo"><i class="fas fa-edit"></i> Editar</button>
        
<button id="details" 
        class="btn btn-outline-secondary squareborder" 
        disabled 
        title="Selecione um item da lista abaixo"><i class="fas fa-info"></i> Detalhes</button>

<div class="float-right d-inline">
    <button class="btn btn-outline-primary squareborder" 
            data-toggle="collapse" 
            data-target="#pesquisa" 
            aria-expanded="false" 
            aria-controls="pesquisa" 
            title="Pesquisar"><i class="fas fa-search"></i></button>

    <button class="btn btn-outline-secondary squareborder" 
            onclick="list({})"
            title="Atualizar"><i class="fas fa-sync"></i></button>

    <button id="btn-del" 
            class="btn btn-outline-danger squareborder" 
            onclick="toggleDelete()"
            title="Remover"><i class="fas fa-trash"></i></button>
</div>
<div class="float-right d-inline">
    <div>

    </div>
</div>
<br/>
<div class="container row justify-content-center">
    <div class="collapse col-md-12" id="pesquisa">
    <br/>
        <div class="card card-body">
            <form class="form">
                <div class="row justify-content-center">
                    <div class="col-4">
                        <input class="form-control squareborder" type="number" placeholder="Código" aria-label="Search" id="search-codigo">
                    </div>
                    <div class="col-4">
                        <input class="form-control squareborder" type="text" placeholder="Nome" aria-label="Search" id="search-nome">
                    </div>
                    <div class="col-4">
                        <input class="form-control squareborder" type="text" placeholder="Cargo" aria-label="Search" id="search-cargo">
                    </div>
                    <br/>
                    <br/>
                    <br/>
                    <div class="col-4">
                        <select class="form-control custon-select squareborder" id="search-item-pagina">
                            <option disabled selected>Itens por página</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col-4">
                    </div>
                    <div class="col-4">
                    </div>
                </div>
            </form>
            <br />
            <div class="float-right">
                <a id="search-search" href="#" class="float-right">Pesquisar</a>
            </div>
        </div>
    </div>
</div>
<br/>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="lista">
    </tbody>
</table>

@section Scripts
{
    <script>
        const lista = document.getElementById('lista');
        const checkDel = document.getElementById('checkDel');
        const controller = 'FuncionarioApi';

        var pagination = 
        {
            size: 0,
            page: 1,
            itensPerPage: 10,
            next: () => this.page = Math.min (Math.ceil (this.size/this.itensPerPage), this.page + 1),
            prev: () => this.page = Math.max (1, this.page - 1),
        };

        list({});

        function list(searchParams)
        {
            refreshTable(controller, searchParams, ['id', 'nome', 'cargo', 'delete-btn'], (funcionarios) => 
            {
                pagination.size = funcionarios.length;
                funcionarios.forEach(f => f['delete-btn'] = '<a class="txt-danger float-right delete text-danger" href="#" + onclick="remove(' + f.id + ')" hidden="true"><i class="fas fa-minus-circle" style="font-size: 18px"></i></a>');
            });
        }

        function add()
        {
            http.POST('/' + controller + '/Add', () => list({}));
        }

        function remove(id)
        {
            http.POST('/' + controller + '/Delete/' + id, () => list({}))
        }

        function toggleDelete()
        {
            const btnDels = document.getElementsByClassName('delete');
            const checkDel = document.getElementById('checkDel');
            for(const btn of btnDels)
                btn.hidden = !btn.hidden;
        }

        function selectRow (id)
        {
            const selected = $('.selected');
            if (selected.length > 0) 
                selected[0].setAttribute('class', 'selectable');
            $('#' + id).attr('class', 'selected');
            $('#edit').attr('disabled', false);
            $('#edit').on('click', () => 
            {
                //Código do modal
            });
            $('#details').attr('disabled', false);
            $('#details').on('click', () => 
            {
                //Código do modal
            });

        }

        $('#search-search').on("click", () => 
        {
            pagination.itensPerPage = document.getElementById('search-item-pagina').value;
            list({
                id: document.getElementById('search-codigo').value,
                nome: document.getElementById('search-nome').value,
                cargo: document.getElementById('search-cargo').value,
                itensPorPagina: pagination.itensPerPage,
                pagina: pagination.page
            });
        });


    </script>
}