@model IEnumerable<SGEP.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
    ViewData["search-fields"] = "_Funcionario";
}

<br />
<h2>Funcionários</h2>
<br />
@await Html.PartialAsync("Partial/Index/Button/_CRUD")

<div class="float-right d-inline">
    @await Html.PartialAsync("Partial/Index/Button/_SearchButtons")
    <button id="btn-del" 
            class="btn btn-outline-danger squareborder" 
            onclick="toggleDelete()"
            title="Remover"><i class="fas fa-trash"></i></button>
</div>
<br/>
<div class="container row justify-content-center">
    @await Html.PartialAsync("Partial/Index/Search/_Search", null, ViewData)
</div>
<br/>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="lista">
    </tbody>
</table>

@section Scripts
{
    <script>
        const lista = document.getElementById('lista');
        const checkDel = document.getElementById('checkDel');
        const controller = 'FuncionarioApi';

        var pagination = 
        {
            size: 0,
            page: 1,
            itensPerPage: 10,
            next: () => pagination.page = Math.min (Math.ceil (pagination.size/pagination.itensPerPage), pagination.page + 1),
            prev: () => pagination.page = Math.max (1, pagination.page - 1)
        };

        list({});

        function list(searchParams)
        {
            refreshTable(controller, searchParams, ['id', 'nome', 'cargo', 'delete-btn'], ({size, entities}) => 
            {
                pagination.size = size;
                entities.forEach(f => f['delete-btn'] = '<a class="txt-danger float-right delete text-danger" href="#" + onclick="remove(' + f.id + ')" hidden="true"><i class="fas fa-minus-circle" style="font-size: 18px"></i></a>');
            });
        }

        function add()
        {
            http.POST('/' + controller + '/Add', () => list({}));
        }

        function remove(id)
        {
            http.POST('/' + controller + '/Delete/' + id, () => 
            {
                $('#edit').attr('disabled', true);
                $('#edit').on('click', () => 
                {
                });
                $('#details').attr('disabled', true);
                $('#details').on('click', () => 
                {
                });
                list({})
            })
        }

        function toggleDelete()
        {
            const btnDels = document.getElementsByClassName('delete');
            const checkDel = document.getElementById('checkDel');
            for(const btn of btnDels)
                btn.hidden = !btn.hidden;
        }

        $('#search-search').on('click', () => 
        {
            pagination.itensPerPage = document.getElementById('search-item-pagina').value;
            pagination.page = 1;
            list({
                id: document.getElementById('search-codigo').value,
                nome: document.getElementById('search-nome').value,
                cargo: document.getElementById('search-cargo').value,
                itensPorPagina: pagination.itensPerPage,
                pagina: pagination.page
            });
        });

        function onClickSelectRow (id)
        {
            selectRow(id, () => 
            {
                //Código do modal
            },
            () => 
            {
                //Código do modal
            });
        }
    </script>
}