@model SGEP.Models.Projeto

@{
    ViewData["Title"] = "_Create";
}

<div class="modal fade cleanable" id="modal-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-edit-title">Editar Projeto</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="Id-edit" asp-for="Id" hidden class="form-control" />
                    <input id="Almoxarifado-edit" asp-for="AlmoxarifadoId" hidden class="form-control" />
                    <div class="form-group">
                        <label asp-for="Nome" class="control-label">Nome</label>
                        <input id="Nome-edit" asp-for="Nome" class="form-control squareborder" />
                        <span asp-validation-for="Nome" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Inicio" class="control-label">Inicio</label>
                        <input id="Inicio-edit" asp-for="Inicio" class="form-control squareborder" />
                        <span asp-validation-for="Inicio" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="Fim-edit-group">
                        <label asp-for="Fim" class="control-label">Fim</label>
                        <input id="Fim-edit" asp-for="Fim" class="form-control squareborder" data-val-required="Este campo é obrigatório." />
                        <span asp-validation-for="Fim" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
