@model IEnumerable<SGEP.Models.Projeto>

@{
    ViewData["Title"] = "Index";
    ViewData["search-fields"] = "_Projeto";
}
<br />
<h2>Projetos</h2>
<br />
@await Html.PartialAsync("Partial/Index/Button/_CRUD")
<div class="float-right d-inline">
    @await Html.PartialAsync("Partial/Index/Button/_SearchButtons")
</div>
<br/>
<div class="container row justify-content-center">
    @await Html.PartialAsync("Partial/Index/Search/_Search", null, ViewData)
</div>
<br/>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fim)
            </th>
        </tr>
    </thead>
    <tbody id="lista">
    </tbody>
</table>
