<div class="btn-group" role="group">
    <button class="btn btn-outline-primary squareborder" type="button" id="page-first"><<</button>
    <button class="btn btn-outline-primary squareborder" type="button" id="page-prev"><</button>
    <button class="btn btn-outline-primary squareborder" type="button" id="page-next">></button>
    <button class="btn btn-outline-primary squareborder" type="button" id="page-last">>></button>
</div>
<button class="btn btn-outline-primary squareborder" 
    data-toggle="collapse" 
    data-target="#pesquisa" 
    aria-expanded="false" 
    aria-controls="pesquisa" 
    title="Pesquisar"><i class="fas fa-search"></i></button>

<button class="btn btn-outline-secondary squareborder" 
    onclick="list({})"
    title="Atualizar"><i class="fas fa-sync"></i></button>