<div class="col-4">
    <input class="form-control squareborder search-field" 
           type="number" 
           placeholder="Código" 
           aria-label="Search" 
           id="search-codigo" 
           name="codigo" />
</div>
<div class="col-4">
    <input class="form-control squareborder search-field" 
           type="text" 
           placeholder="Nome"
           aria-label="Search" 
           id="search-nome" 
           name="nome" />
</div>
<div class="col-4">
    <input class="form-control search-field" 
           type="check" 
           id="search-projeto" 
           name="projeto" />
    <label for="projeto"></label>
</div>
<br/>
<br/>
<br/>
<div class="col-4">
    <select class="form-control custon-select squareborder search-field" id="search-item-pagina" name="itensPorPagina">
        <option value="10" disabled selected>Itens por página</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
</div>
<div class="col-4">
</div>
<div class="col-4">
</div>