<div class="col-4">
    <input class="form-control squareborder" type="number" placeholder="Código" aria-label="Search" id="search-codigo">
</div>
<div class="col-4">
    <input class="form-control squareborder" type="text" placeholder="Nome" aria-label="Search" id="search-nome">
</div>
<div class="col-4">
    <input class="form-control squareborder" type="number" min="0" step="0.01" placeholder="Preço" aria-label="Search" id="search-preco">
</div>
<br/>
<br/>
<br/>
<div class="col-4">
    <input class="form-control squareborder" type="number" min="0" placeholder="Categoria" aria-label="Search" id="search-categoria">
</div>
<div class="col-4">
    <select class="form-control custon-select squareborder" id="search-item-pagina">
        <option disabled selected>Itens por página</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
</div>
<div class="col-4">
</div>
<div class="col-4">
</div>