<div class="col-4">
    <input class="form-control squareborder search-field" 
           type="number" 
           placeholder="Código" 
           aria-label="Search" 
           id="search-codigo"
           name="codigo">
</div>
<div class="col-4">
    <input class="form-control squareborder search-field"
           type="text" 
           placeholder="Descrição" 
           aria-label="Search" 
           id="search-descricao"
           name="descricao">
</div>
<div class="col-4">
    <input class="form-control squareborder search-field"
           type="number" 
           min="0" 
           step="0.01" 
           placeholder="Preço" 
           aria-label="Search" 
           id="search-preco"
           name="preco">
</div>
<br/>
<br/>
<br/>
<div class="col-4">
    <input class="form-control squareborder" 
           type="number" 
           min="0" 
           placeholder="Categoria" 
           aria-label="Search" 
           id="search-categoria"
           name="categoria">
</div>
<div class="col-4">
    <select class="form-control custon-select squareborder" id="search-item-pagina">
        <option value="10" disabled selected>Itens por página</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
</div>
<div class="col-4">
</div>
<div class="col-4">
</div>