<div class="col-4">
    <label for="data">Data</label>
    <input class="form-control squareborder search-field" 
           type="date" 
           aria-label="Search" 
           id="search-data" 
           name="data">
</div>
<div class="col-4">
    <label for="material">Código do material</label>
    <input class="form-control squareborder search-field" 
           type="number"
           min="0"
           aria-label="Search" 
           id="search-material" 
           name="material">
</div>
<div class="col-4">
    <label for="tipo">Tipo</label>
    <select class="form-control custon-select squareborder search-field" id="search-item-tipo" name="tipo">
        <option value="" selected>Todos</option>
        <option value="entrada">Entrada</option>
        <option value="saída">Saída</option>
        <option value="consumo">Consumo</option>
    </select>
</div>
<br/>
<br/>
<br/>
<br/>
<div class="col-4">
    <label for="origem">Origem</label>
    <select class="form-control custon-select squareborder search-field" id="search-origem" name="origem">
        <option disabled selected value="">Todos</option>
    </select>
</div>
<div class="col-4">
    <label for="destino">Destino</label>
    <select class="form-control custon-select squareborder search-field" id="search-origem" name="destino">
        <option disabled selected value="">Todos</option>
    </select>
</div>
<div class="col-4">
    <label for="itensPorPagina">Itens por Página</label>
    <select class="form-control custon-select squareborder search-field" id="search-item-pagina" name="itensPorPagina">
        <option value="5">5</option>
        <option value="10" selected>10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
</div>
