<div class="col-4">
    <input class="form-control squareborder search-field" 
           type="date" 
           placeholder="Data" 
           aria-label="Search" 
           id="search-data" 
           name="data">
</div>
<div class="col-4">
    <input class="form-control squareborder search-field" 
           type="number"
           min="0"
           placeholder="Código do material" 
           aria-label="Search" 
           id="search-material" 
           name="material">
</div>
<div class="col-4">
    <input class="form-control squareborder search-field" 
           type="number"
           min="0"
           step="1"
           placeholder="Quantidade" 
           aria-label="Search" 
           id="search-quantidade" 
           name="quantidade">
</div>
<br/>
<br/>
<br/>
<div class="col-4">
    <select class="form-control custon-select squareborder search-field" id="search-item-pagina" name="itensPorPagina">
        <option value="10" disabled selected>Itens por página</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
</div>
<div class="col-4">
    <select class="form-control custon-select squareborder search-field" id="search-origem" name="origem">
        <option disabled selected value="">Almoxarifado de origem</option>
    </select>
</div>
<div class="col-4">
    <select class="form-control custon-select squareborder search-field" id="search-origem" name="destino">
        <option disabled selected value="">Almoxarifado de destino</option>
    </select>
</div>
<br/>
<br/>
<br/>
<div class="col-4">
    <select class="form-control custon-select squareborder search-field" id="search-item-tipo" name="tipo">
        <option value="Qualquer" disabled selected>Tipo</option>
        <option value="Qualquer">Qualquer</option>
        <option value="Entrada">Entrada</option>
        <option value="Saída">Saída</option>
        <option value="Consumo">Consumo</option>
    </select>
</div>
<div class="col-4">
</div>
<div class="col-4">
</div>