<div class="col-4">
    <input class="form-control squareborder search-field" 
           type="number" 
           placeholder="Código" 
           aria-label="Search" 
           id="search-codigo"
           name="codigo">
</div>
<div class="col-4">
    <input class="form-control squareborder search-field"
           type="date" 
           placeholder="Data de inicio" 
           aria-label="Search" 
           id="search-data-inicio"
           name="data-inicio">
</div>
<div class="col-4">
    <input class="form-control squareborder search-field"
           type="date"
           placeholder="Data de término" 
           aria-label="Search" 
           id="search-data-fim"
           name="data-fim">
</div>
<br/>
<br/>
<br/>
<div class="col-4">
    <input class="form-control squareborder" 
           type="text"
           placeholder="Nome" 
           aria-label="Search" 
           id="search-nome"
           name="nome">
</div>
<div class="col-4">
    <select class="form-control custon-select squareborder" id="search-item-pagina">
        <option disabled selected>Itens por página</option>
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
    </select>
</div>
<div class="col-4">
</div>
<div class="col-4">
</div>