:root
{
    --sgep-primary-color-current: rgb(0, 0, 89);
    --sgep-primary-color: rgb(25, 25, 100);
    --sgep-primary-highlight-current: rgb(45, 56, 155);
    --sgep-primary-highlight: rgb(56, 66, 156);
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

body {
    margin-top: 0%;
    margin-left: 0%;
    overflow: overlay;
}

nav {
    background-color: var(--sgep-primary-color);
    padding: 0;
}

.nav-a:hover {
    text-decoration: none;
}

.nav-li-a 
{
    transition: text-shadow 0.25s;
    color: rgb(230, 230, 230);
}

.nav-li-a:hover {
    text-decoration: none;
    text-shadow: 0 0 80px rgb(179, 179, 179);
    color: white;
}

ul li {
    font-size: 22px;
    padding: 5px;
}

nav div {
    padding-left: 10px;
}


.squareborder{
    border-radius:0;
}

.scrollbar {
    overflow-y: scroll;
    max-height: 300px;
}

table {
    text-align: justify;
    table-layout: fixed;
    width: 100%;
}

tr
{
    width: 100%;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
}

i.reloading 
{
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 64px;
    margin-top: 16px;
}

svg.reloading 
{
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    font-size: 64px;
    margin-top: 16px;
}

td.reloading
{
    color:  rgb(155, 155, 155);
    text-align: center;
    animation-name: reload-fade-in;
    animation-duration: 1s;
}

tr.selectable
{
    background-color: rgb(255, 255, 255);
    transition: background-color 0.25s;
}
tr.loading
{
    animation-name: tr-fade-in;
    animation-duration: 0.5s;
}

tr.selectable:hover
{
    background-color: rgb(236, 236, 236);
}

tr.selected
{
    background-color: rgb(223, 223, 223);
}

tr.blocked
{
    background-color: rgb(223, 223, 223);
}

tr.blocked:hover
{
    background-color: rgb(223, 223, 223);
}

@keyframes rotate 
{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes reload-fade-in
{
    from {color: white;}
    to {color: rgb(155, 155, 155);}
}

@keyframes tr-fade-in
{
    from {color: white;}
    to {color: black;}
}

@keyframes delete-fade-in
{
    from {color: white;}
    to {color: var(--danger)}
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}

.header-dark {
    background-color: #000059;
    color: white;
}

html
{
    scroll-behavior: smooth;
}

.tableFixHead {
    overflow-y: auto;
    max-height: 300px;
}

    .tableFixHead thead th {
        position: sticky;
        top: 0;
    }

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px 16px;
}

.error-message-correction ul li
{
    font-size: medium;
    padding-left: 0;
    padding-top: 0;
}
.error-message-correction ul
{
    margin-bottom: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
}








.sidebar
{
  /* background-color: rgb(63, 63, 63); */
  background-color: var(--sgep-primary-color);
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: fit-content;
  position: fixed;
  /* box-shadow: 0px 0px 4px black; */
  transition: box-shadow 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: width 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sidebar:hover
{
    width: fit-content;
    /* box-shadow: 0px 0px 32px black; */
}

.sidebar .button
{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  text-decoration: unset;
  font-size: 20px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: rgb(240, 238, 238);
  display: block;
  transition: background-color 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: padding 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  background-color: var(--sgep-primary-color);
}

.sidebar .button:hover
{
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: unset;
  color: rgb(240, 238, 238);
  display: block;
  background-color: var(--sgep-primary-highlight);
}

.sidebar .sideinfo
{
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 37px;
  text-decoration: unset;
  font-size: 20px;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  color: rgb(240, 238, 238);
  display: block;
  background-color: var(--sgep-primary-color);
}


.sidebar .button:active
{
  padding: 32px;
  text-decoration: unset;
  
  color: rgb(240, 238, 238);
  display: block;
  background-color: var(--sgep-primary-color);
}

.showonhover 
{
    transition: font-size 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}