@model ChangePasswordViewModel
@{
    var id = ViewData["Id"];
}

<div class="modal fade cleanable" id="modal-password" tabindex="-1" role="dialog" aria-labelledby="modal-password-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-password-title">Alterar Senha</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-password">
                    <input asp-for="Id" value=@id hidden class="form-control" />
                    @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@
                    <div class="form-group">
                        <label for="old" class="control-label">Senha atual</label>
                        <input asp-for="Old" class="form-control squareborder" />
                        <span asp-validation-for="Old" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="pass" class="control-label">Nova senha</label>
                        <input asp-for="New" class="form-control squareborder" />
                        <span asp-validation-for="New" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="confirm" class="control-label">Confirme a nova senha</label>
                        <input asp-for="Confirm" class="form-control squareborder" />
                        <span asp-validation-for="Confirm" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Alterar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
