@model IEnumerable<SGEP.Models.UserForm>

@{
    ViewData["Title"] = "Index";
    ViewData["search-fields"] = "_User";
    ViewData["role-allowed-to-modify"] = "Gerente";
}
<br />
@await Html.PartialAsync("Partial/Index/_AlertContainer")
<br />
<h2>Usuários</h2>
<br />
@await Html.PartialAsync("Partial/Index/Button/_CRUD", ViewData)
@await Html.PartialAsync("Partial/Index/_LoadingInfo")
<div class="float-right d-inline">
    @await Html.PartialAsync("Partial/Index/Button/_SearchButtons")
    <button id="btn-del"
            class="btn btn-outline-danger squareborder"
            onclick="toggleDelete()"
            title="Ativar/Desativar">
        <i class="fas fa-power-off"></i>
    </button>
</div>
<br />
<div class="container row justify-content-center">
    @await Html.PartialAsync("Partial/Index/Search/_Search", null, ViewData)
</div>
<br />

@await Html.PartialAsync("_Create")
@await Html.PartialAsync("_Edit")
@await Html.PartialAsync("_Details")

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                Tipo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody id="lista">
    </tbody>
</table>

@*@await Html.PartialAsync("_Details")*@

@section Scripts
{
    <script>
        const lista = document.getElementById('lista');
        const checkDel = document.getElementById('checkDel');
        const controller = 'User';

        list(_search());

        function list(searchParams)
        {
            refreshTable(controller, searchParams, ['nome', 'email', 'role', 'ativo', 'delete-btn'], ({size, entities}) =>
            {
                pagination.size = size;
                entities.forEach(u => {
                    
                    u['delete-btn'] = (u.ativo) ? '<a class="txt-danger float-right delete text-danger" href="#" + onclick="remove(\'' + u.id + '\')" hidden="true"><i class="fas fa-power-off" style="font-size: 18px"></i></a>' 
                                                : '<a class="float-right delete text-success" href="#" + onclick="remove(\'' + u.id + '\')" hidden="true"><i class="fas fa-power-off" style="font-size: 18px"></i></a>'; 
                    u.ativo = u.ativo ? 'Ativo' : 'Desativado';
                });
            });
        }

        function remove(id)
        {
            http.POST('/' + controller + '/Toggle/' + id, () =>
            {
                $('#edit').attr('disabled', true);
                $('#edit').on('click', () =>
                {
                });
                $('#details').attr('disabled', true);
                $('#details').on('click', () =>
                {
                });

                list(_search());
            })
        }

        function toggleDelete()
        {
            const btnDels = document.getElementsByClassName('delete');
            const checkDel = document.getElementById('checkDel');
            for(const btn of btnDels)
                btn.hidden = !btn.hidden;
        }

        function onClickSelectRow (id)
        {
            selectRow(id,
            () =>
            {
                loading.show();
                fetch('/' + controller + '/Get/' + id)
                .then(res => res.json())
                .then(user =>
                {
                    const idField = get.id('Id-edit');
                    const nomeField = get.id('Nome-edit');
                    const emailField = get.id('Email-edit');
                    const telefoneField = get.id('Telefone-edit');
                    const roleField = get.id('Role-edit');

                    idField.value = user.id;
                    nomeField.value = user.nome;
                    emailField.value = user.email;
                    telefoneField.value = user.telefone;
                    roleField.value = user.role;
                    $('#modal-edit').modal('show');
                    loading.hide();
                });
            },
            () =>
            {
                loading.show();
                fetch('/' + controller + '/Get/' + id)
                .then(res => res.json())
                .then(user =>
                {
                    var detailstable = document.getElementById('detailstable');
                    var nomes = ['Nome', 'Telefone', 'Email', 'Ativo', 'Tipo'];
                    var content = [user.nome, user.telefone || '--', user.email, user.ativo ? 'Ativo' : 'Inativo', user.role];
                    detailstable.innerHTML = gerardetailslist(nomes, content);
                    $('#detailsmodal').modal('toggle');
                    loading.hide();
                });
            });
        }

        document.getElementById('Telefone-edit').onkeyup = document.getElementById('Telefone').onkeyup = (e) => {
            var x = e.target.value.replace(/\D/g, '').match(/(\d{2})(\d{4,5})(\d{4})/);
            e.target.value = '(' + x[1] + ') ' + x[2] + '-' + x[3];
        }

    </script>

    @{await Html.RenderPartialAsync ("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("Partial/Index/_Forms");}
}

