@model SGEPUser

@{
    ViewData["Title"] = "Minha Conta";
    ViewData["Id"] = Model.Id;
}
<br />
@await Html.PartialAsync("Partial/Index/_AlertContainer")
<br />
<h2>Meu Perfil</h2>
<br />
<div class="container row">
    <table class="table table-bordered shadow-regular col-md-8">
        <tr>
            <td class="table-dark alert-link" style="width:250px">Nome</td>
            <td>@Model.Nome</td>
        </tr>
        <tr>
            <td class="table-dark alert-link" style="width:250px">E-mail</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td class="table-dark alert-link" style="width:250px">Telefone</td>
            @if(string.IsNullOrWhiteSpace(Model.PhoneNumber))
            {
                <td>--</td>
            }else
            {
                <td>@Model.PhoneNumber</td>
            }
        </tr>
    </table>
    <br/>
</div>
<button class="btn btn-secondary squareborder" data-toggle="modal" data-target="#modal-password">Alterar Senha</button>

@await Html.PartialAsync("_ChangePassword", null, ViewData)

@section Scripts
{

@{await Html.RenderPartialAsync ("_ValidationScriptsPartial");}

    <script>
        var color = 'success';
        $('#form-password').submit(function (e) {
            e.preventDefault()
            if ($(this).valid()) {
                fetch('/User/ChangePassword', {
                    method: 'post',
                    body: new FormData(document.querySelector('#form-password'))
                })
                .then(res => {
                    if (Math.floor(res.status/100) == 4)
                        color = 'danger';
                    const [text, status] = [res.text(), res.status];
                    return Promise.all ([text, status]);
                })
                .then(([text, status]) =>
                {
                    showAlert(text, color)
                    $('#modal-password').modal('hide');
                    document.querySelector('#form-password').reset();
                    if (status == 200)
                        window.location.replace("/");
                });
            }
        });
    </script>
}