<button type="button" class="btn btn-primary squareborder" data-toggle="modal" data-target="#form-modal">
    <i class="fas fa-clock"></i> Escolher período
</button>
@await Html.PartialAsync("Partial/Index/_LoadingInfo")
<div class="modal fade" 
     id="form-modal" 
     tabindex="-1" 
     role="dialog" 
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content squareborder">
      <div class="modal-header">
        <h5 class="modal-title">Escolher Período</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form" id="graph-query">
            <div class="form-group">
                <label for="inicio">Mês inicial</label>
                <input class="form-control squareborder" type="month" name="inicio"/>
            </div>
            <div class="form-group">
                <label for="fim">Mês final</label>
                <input class="form-control squareborder" type="month" name="fim"/>
            </div>
            <div class="form-group">
                <label for="material">Material</label>
                <select class="form-control squareborder" name="material">
                    <option value="0" selected disabled>Selecione um material</option>
                </select>
            </div>
            <div class="form-group">
                <label for="material">Almoxarifado/Projeto</label>
                <select class="form-control squareborder" name="almoxarifado">
                    <option value="" selected>Todos</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tipo">Tipo de movimentação</label>
                <select class="form-control squareborder" name="tipo">
                    <option value="" selected disabled>Selecione um tipo</option>
                    <option value="Entrada">Entrada</option>
                    <option value="Consumo">Consumo</option>
                    <option value="Saida">Saída</option>
                </select>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" 
                id="graph-update" 
                class="btn btn-primary squareborder"
                onclick="
                const startDate = get.name('inicio');
                const endDate = get.name('fim');
                const selectMat = get.name('material');
                const selectTipo = get.name('tipo');

                if (startDate.value == '')
                {
                  startDate.focus();
                  return;
                }
                if (endDate.value == '')
                {
                  endDate.focus();
                  return;
                }
                if (selectMat.value == 0)
                {
                  selectMat.focus();
                  return;
                }
                if (selectTipo.value == '')
                {
                  selectTipo.focus();
                  return;
                }
                load(new Date(get.name('inicio').value), 
                              new Date(get.name('fim').value),
                              get.name('material').value,
                              get.name('tipo').value,
                              get.name('almoxarifado').value)">Atualizar</button>
      </div>
    </div>
  </div>
</div>