@using Microsoft.AspNetCore.Identity

@inject SignInManager<SGEPUser> SignInManager
@inject UserManager<SGEPUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a asp-controller="User" asp-action="Profile" class="nav-li-a" style="font-size: 22px">Minha Conta</a>
        </li>
        <li>
            <a href="#" class="nav-li-a" onclick="$('#form-logout').submit()">Sair</a>
            <form id="form-logout" asp-area="Identity" hidden asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                <button type="submit" class="btn btn-link " style="font-size: 22px"></button>
            </form>
        </li>
    </ul>
}
