@model SGEP.Models.Material

<div class="modal fade" id="modal-create" tabindex="-1" role="dialog" aria-labelledby="modal-create-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-title">Cadastrar Material</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" id="form-create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label"></label>
                        <textarea asp-for="Descricao" class="form-control squareborder"></textarea>
                        <input type="text">
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Preco" class="control-label"></label>
                        <input asp-for="Preco" class="form-control squareborder" type="number" step="0.01" />
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Categoria" class="control-label"></label>
                        <input asp-for="Categoria" class="form-control squareborder" maxlength="3" type="number" step="0.01" />
                        <span asp-validation-for="Categoria" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdUnidade" class="control-label"></label>
                        <select asp-for="IdUnidade" class="form-control squareborder" id="unidadeselect"></select>
                        <span asp-validation-for="IdUnidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function unidadesparaselecao() {
        fetch('/Material/Unidades').then((res) => res.json()).then(unidades => {
            var html = '<option value="" selected disabled>Selecione uma unidade para o material</option>';
            for (un of unidades) {
                if (un.abreviacao == null) 
                    var option = '<option value = ' + un.id + '>' + un.nome + '</option>';
                else var option = '<option value = ' + un.id + '>' + un.nome + ' (' + un.abreviacao + ')' + '</option>';
                html += option;
            }
            document.getElementById('unidadeselect').innerHTML = html;
        });
    }
</script>