@model SGEP.Models.Material

@{
    ViewData["Title"] = "_Create";
}

<div class="modal fade" id="modal-edit" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-edit-title">Editar Material</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input id="Id-edit" asp-for="Id" hidden class="form-control" />
                    <input id="Categoria-edit" asp-for="Categoria" hidden class="form-control" />
                    <input id="Showid-edit" asp-for="Showid" hidden class="form-control" />
                    <div class="form-group">
                        <label asp-for="Descricao" class="control-label">Descrição</label>
                        <textarea id="Descricao-edit" asp-for="Descricao" class="form-control"></textarea>
                        <span asp-validation-for="Descricao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Preco" class="control-label">Preço</label>
                        <input id="Preco-edit" type="number" step="0.01" asp-for="Preco" class="form-control" />
                        <span asp-validation-for="Preco" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdUnidade" class="control-label"></label>
                        <select class="form-control" asp-for="IdUnidade" id="Unidade-edit"></select>
                        <span asp-validation-for="IdUnidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    function unidadesparaselecao() {
        fetch('/Material/Unidades').then((res) => res.json()).then(unidades => {
            var html = '<option value="" selected disabled>Selecione uma unidade para o material</option>';
            for (un of unidades) {
                if (un.abreviacao == null)
                    var option = '<option value = ' + un.id + '>' + un.nome + '</option>';
                else var option = '<option value = ' + un.id + '>' + un.nome + ' (' + un.abreviacao + ')' + '</option>';
                html += option;
            }
            document.getElementById('Unidade-edit').innerHTML = html;
        });
    }
</script>
