@model IEnumerable<SGEP.Models.Unidade>

<!--MODAL DE UNIDADES-->
<div class="modal fade" id="unidadesmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modaltitle">Unidades de medida</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <button type="button" class="btn btn-primary squareborder" id="adduni">Editar Unidade</button>
                </p>
                <table class="table" id="unidadestable">
                    
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary squareborder" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary squareborder" id="openuniadd">Adicionar Unidade</button>
            </div>
        </div>
    </div>
</div>

<!--MODAL DE ADICIONAR/EDITAR UNIDADE-->
<div class="modal fade" id="unidademanagementmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="addunimodaltitle">Adicionar Unidade</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label class="control-label">Nome da Unidade:</label>
                    <input class="form-control" id="unidadenomeinput" />
                </div>
                <div class="form-group">
                    <label class="control-label">Abreviação:</label>
                    <input  class="form-control" id="unidadeabvinput" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary squareborder" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary squareborder" id="adicionarunidade">Adicionar Unidade</button>
            </div>
        </div>
    </div>
</div>

<!--
<script>
    var nome = document.getElementById("uninome").value;
    var abv = document.getElementById("uniabv").value;
    document.getElementById("adduni").onclick = () => adicionarunidade(nome, abv);
    listarunidades();

    function listarunidades() {
        fetch('/Material/Unidades').then((res) => res.json()).then(unidades => {
            var lista = gerarlist(undefined, unidades);
            document.getElementById("unilistbody").innerHTML = lista;
        });
        $('#unidadesmodal').modal('toggle');
    }
    function adicionarunidade(nome,abv) {
        const data = new FormData();
        data.append('Nome', nome);
        data.append('Abreviacao', abv);
        fetch('/Material/AdicionarUnidade', { method: 'POST', body: data }).then(retorno => {
            gerarlistaunidades();
        });
        $('#unidademanagementmodal').modal('toggle');
    }
</script>
    -->