@model IEnumerable<SGEP.Models.Material>

@{
    ViewData["Title"] = "Index";
    ViewData["search-fields"] = "_Material";
    ViewData["role-allowed-to-modify"] = "Almoxarife";
}
<br />
<div id="alert-container">
    
</div>
<br />
<h2>Materiais</h2>
<br />
@await Html.PartialAsync("Partial/Index/Button/_CRUD", ViewData)

<div class="float-right d-inline">
    @await Html.PartialAsync("Partial/Index/Button/_SearchButtons")
</div>
<br/>
<div class="container row justify-content-center">
    @await Html.PartialAsync("Partial/Index/Search/_Search", null, ViewData)
</div>
<br/>
@await Html.PartialAsync("_Create")
@await Html.PartialAsync("_Edit")
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
        </tr>
    </thead>
    <tbody id="lista">
    </tbody>
</table>

@section Scripts
{
    <script>
        
        const lista = document.getElementById('lista');
        const controller = 'Material';

        list({});

        function list(searchParams)
        {
            refreshTable(controller, searchParams, ['id', 'descricao', 'preco'], ({size}) => pagination.size = size);
        }

        function onClickSelectRow (id)
        {
            selectRow(id, 
            () => 
            {
                fetch('/' + controller + '/Get/' + id)
                .then(res => res.json())
                .then(mat => 
                {
                    const idField = get.id('Id-edit');
                    const descricaoField = get.id('Descricao-edit');
                    const precoField = get.id('Preco-edit');
                    idField.value = mat.id;
                    descricaoField.value = mat.descricao;
                    precoField.value = mat.preco;
                    $('#modal-edit').modal('show');
                });
            },
            () => 
            {
                //Código do modal
            });
        }
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#form-create').submit(function (e) {
            e.preventDefault()
            if ($(this).valid()) {
                fetch('/' + controller + '/Create', {
                    method: 'post',
                    body: new FormData(document.querySelector('#form-create'))
                }).then(function (response) {
                    $('#modal-create').modal('hide');
                    get.id ('form-create').reset();
                    list({});
                });
            }
        });
        $('#form-edit').submit(function (e) {
            e.preventDefault()
            if ($(this).valid()) {
                fetch('/' + controller + '/Edit', {
                    method: 'post',
                    body: new FormData(document.querySelector('#form-edit'))
                })
                .then(res => res.text())
                .then(_ => 
                {
                    $('#modal-edit').modal('hide');
                    get.id ('form-edit').reset();
                    list({});
                });
            }
        });
    </script>

}
