@model IEnumerable<SGEP.Models.Almoxarifado>

<div class="modal fade" id="detailsmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modaltitle">Detalhes do Estoque</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modalbodyr">
                <h4>Informações:</h4>
                <table class="table table-bordered shadow-regular" id="detailstable"></table>
                <h4>Materiais:</h4>
                <table class="table" id="tableidd">
                    <thead class="thead-dark">
                        <th>
                            Código
                        </th>
                        <th>
                            Descricao
                        </th>
                        <th>
                            Quantidade
                        </th>
                        <th>
                            Valor total
                        </th>
                    </thead>
                    <tbody id="matlista">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>