@{
    ViewData["Title"] = "Histograma";
}
<br />
@await Html.PartialAsync("Partial/Index/_AlertContainer")
<br />
<h2>Histograma</h2>
<br />
@await Html.PartialAsync("Partial/_Form.cshtml")
<br />
<br />
<canvas id="graph" width="800" height="300"></canvas>

@section Scripts
{
    <script>
        function load (start, end, material, tipo, almoxarifado)
        {
            loading.show();
            const url = `/Histograma/GraphData?inicio=${start.getUTCFullYear()}${start.getUTCMonth() + 1}
                                              &fim=${end.getUTCFullYear()}${end.getUTCMonth() + 1}
                                              &material=${material}
                                              &tipo=${tipo}
                                              &almoxarifado=${almoxarifado}`;

            fetch(url.replace(/[\n ]/g, ''))
            .then(res => res.json())
            .then(json => 
            {
                chart.data.datasets[0].label = json.title;
                
                chart.data.datasets[0].data = new Array();
                chart.data.datasets[0].backgroundColor = new Array();
                chart.data.datasets[0].borderColor = new Array();
                chart.data.labels = new Array();

                for (const d in json.data)
                {
                    chart.data.labels.push(d);
                    chart.data.datasets[0].data.push(json.data[d]);
                    chart.data.datasets[0].backgroundColor.push('rgba(255, 99, 132, 0.2)');
                    chart.data.datasets[0].borderColor.push('rgba(255, 99, 132, 1)');
                }
                chart.update();
                $('#form-modal').modal('hide');
                loading.hide();
            });
        }

        const ctx = get.id('graph').getContext('2d');
        const chart = new Chart(ctx, 
        {
            type: 'bar',
            data: {
                labels: [],
                datasets: [{
                    label: '',
                    data: [],
                    backgroundColor: [],
                    borderColor: [],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        loading.show('Carregando dados...');
        fetch('/Material/All')
        .then(res => res.json())
        .then(json => 
        {
            loading.show('Carregando dados...');
            for(const m of json)
            {
                get.name('Material').innerHTML += `<option value="${m.id}" title="${m.descricao}"> ${m.showid} </option>`;
            }
            loading.hide();
        });

        fetch('/Almoxarifado/All')
        .then(res => res.json())
        .then(json => 
        {
            loading.show('Carregando dados...');
            console.log(json);
            for(const a of json)
            {
                get.name('Almoxarifado').innerHTML += `<option value="${a.id}"> ${a.id}:${a.nome} </option>`;
            }
            loading.hide();
        });


        (() => 
        {
            const sixMonthSpan = 13132800000;
            const currentDate = new Date();
            const pastDate = new Date(currentDate - sixMonthSpan);
            load(pastDate, currentDate, 1, 'Entrada', -1);
        })();
    </script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#graph-query').submit(function (e)
        {
            console.log('asdasdasd');
            e.preventDefault();
            if ($(this).valid())
            {
                load(new Date(get.name('Inicio').value), 
                              new Date(get.name('Fim').value),
                              get.name('Material').value,
                              get.name('Tipo').value,
                              get.name('Almoxarifado').value);
            }
        })
    </script>

}
