@model SGEP.Models.Movimentacao
@inject SGEP.Data.ApplicationDbContext context
<!--MODAL ENTRADA-->
<div class="modal fade cleanable" id="modal-create-in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-in-title">Cadastrar Entrada</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-in">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="entrada" asp-for="Tipo" />
                    @* <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-in" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="DestinoId" class="control-label">Destino</label>
                        <select asp-for="DestinoId" 
                                id="Destino-in" 
                                class="form-control squareborder" 
                                data-val-required="Este campo é obrigatório."
                                onchange="
                                const selectSolic = get.id('Solicitante-in');
                                const selectDest = get.id('Destino-in');
                                
                                selectSolic.innerHTML = '<option selected disabled>Carregando dados...</option>';
                                const destino = selectDest.value;

                                fetch('/Projeto/FuncionariosAlocadosAlmoxarifado/' + destino)
                                .then(res => res.json())
                                .then(funcs => {
                                    let innerHtml = `<option selected disabled value=''>Selecione o solicitante</option>` + 
                                                    `<option value=''>N/A</option>`;
                                    if (funcs)
                                    {
                                        for(const f of funcs)
                                        {
                                            innerHtml += `<option value=${f.id} title=${f.matricula}>${f.nome}</option>`;
                                        }
                                    }
                                    selectSolic.innerHTML = innerHtml;
                                });
                                ">
                        </select>
                        <span asp-validation-for="DestinoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId" 
                                id="Material-in" 
                                class="form-control squareborder"
                                onchange="
                                var matselectIn = document.getElementById('Material-in');
                                var qtlabel = document.getElementById('Quantidade-in-label');
                                var selected = matselectIn.options[matselectIn.selectedIndex].value;

                                fetch('/Movimentacao/PegarUnidade/' + selected)
                                .then(res => res.json())
                                .then(un => {
                                    if (un.abreviacao == null) qtlabel.innerText = 'Quantidade (' + un.nome + ')';
                                    else qtlabel.innerText = 'Quantidade (' + un.abreviacao + ')';
                                });
                                ">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="Quantidade-in-label" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" 
                               id="Quantidade-in" 
                               class="form-control squareborder" 
                               type="number" 
                               min="0" 
                               step="any" 
                               data-val-regex-pattern="-?[0-9]+([.][0-9])?"
                               data-val-regex="Insira um número válido"
                               />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Solicitante</label>
                        <select asp-for="SolicitanteId" id="Solicitante-in" class="form-control squareborder">
                        </select>
                        <span asp-validation-for="SolicitanteId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL SAÍDA-->
<div class="modal fade cleanable" id="modal-create-out" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-out-title">Cadastrar Saída</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-out">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="saída" asp-for="Tipo" />
                    @* <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-out" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId" id="Material-out" class="form-control squareborder"
                            onchange="
                            const selectOrigin = get.id('Origem-out');
                            const selectDest = get.id('Destino-out');
                            const qtdField = get.id('Quantidade-out');

                            const origin = get.id('Origem-out').value;
                            const material = get.id('Material-out').value;

                            fetch('/Almoxarifado/All?material=' + material)
                            .then(res => res.json())
                            .then(json => 
                            {
                                
                                selectOrigin.innerHTML = `<option selected disabled>Selecione a origem</option>`;
                                for(a of json)
                                {
                                    const opt = document.createElement('option');
                                    opt.value = a.id;
                                    opt.innerHTML = a.nome;
                                    selectOrigin.appendChild(opt);
                                }
                                selectOrigin.disabled = false;
                                selectDest.innerHTML = '<option selected disabled>Selecione a origem</option>';
                                qtdField.placeholder = 'Selecione a origem';
                            });
                        ">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrigemId" class="control-label">Origem</label>
                        <select asp-for="OrigemId"
                                id="Origem-out"
                                class="form-control squareborder"
                                data-val-required="Este campo é obrigatório."
                                disabled
                                onchange="
                                const origin=get.id('Origem-out').value;
                                const selectDest=get.id ('Destino-out');
                                const selectMat=get.id ('Material-out');
                                const material = selectMat.value;
                                const qtdField = get.id('Quantidade-out');

                                selectDest.disabled=true;
                                selectMat.disabled=true;
                                selectDest.innerHTML='<option disabled selected>Selecione o destino</option>';

                                Promise.all([
                                    fetch(`/Almoxarifado/GetQuantidade/${origin}/${material}`),
                                    fetch('/Movimentacao/PegarUnidade/' + material),
                                    fetch('/Almoxarifado/All')
                                ])
                                .then(res => Promise.all(res.map(r => r.json())))
                                .then(([qtd, un, alms]) =>
                                {
                                    console.log(qtd)
                                    qtdField.setAttribute('data-val-maximum', qtd);
                                    let label = get.id('Quantidade-out-label').innerHTML;
                                    label = label.slice(0, 10);
                                    get.id('Quantidade-out-label').innerHTML = label + ` (Disponível: ${qtd} ${un.abreviacao || un.nome})`;


                                    for(a of alms)
                                    {
                                        if (a.id == origin)
                                            continue;
                                        const o = document.createElement('option');
                                        o.value = a.id;
                                        o.innerHTML = a.nome;
                                        selectDest.appendChild(o);
                                    }
                                    selectDest.disabled = false;
                                    selectMat.disabled = false;
                                    qtdField.disabled = false;
                                    qtdField.placeholder = '';
                                });
                                "
                                >
                        </select>
                        <span asp-validation-for="OrigemId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DestinoId" class="control-label">Destino</label>
                        <select asp-for="DestinoId" 
                                disabled 
                                id="Destino-out" 
                                class="form-control squareborder" 
                                data-val-required="Este campo é obrigatório."
                                onchange="
                                const selectSolic = get.id('Solicitante-out');
                                const selectDest = get.id('Destino-out');
                                
                                selectSolic.innerHTML = '<option selected disabled>Carregando dados...</option>';
                                const destino = selectDest.value;

                                fetch('/Projeto/FuncionariosAlocadosAlmoxarifado/' + destino)
                                .then(res => res.json())
                                .then(funcs => {
                                    let innerHtml = `<option selected disabled value=''>Selecione o solicitante</option>` + 
                                                    `<option value=''>N/A</option>`;
                                    if (funcs)
                                    {
                                        for(const f of funcs)
                                        {
                                            innerHtml += `<option value=${f.id} title=${f.matricula}>${f.nome}</option>`;
                                        }
                                    }
                                    selectSolic.innerHTML = innerHtml;
                                });
                                ">
                        </select>
                        <span asp-validation-for="DestinoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade" id="Quantidade-out-label" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" 
                               id="Quantidade-out" disabled 
                               placeholder="Selecione o material" 
                               class="form-control squareborder" 
                               type="number" 
                               data-val-regex-pattern="-?[0-9]+([.][0-9])?"
                               data-val-regex="Insira um número válido"
                               onchange="
                               const field = get.id('Quantidade-out');
                               const max = field.getAttribute('data-val-maximum');
                               const input = field.value;
                               
                               if (Number.parseInt(input) > Number.parseInt(max))
                               {
                                    field.value = max;
                                    field.focus();
                               }
                               else if (Number.parseInt(input) < 1)
                               {
                                    field.value = 1; 
                                    field.focus();
                               }
                               "
                               onblur="
                               const validation = get.id('Quantidade-out-error');
                               console.log(validation)
                               if (validation && validation.innerHTML == 'Please enter a valid number.')
                               {
                                   validation.innerHTML = 'Insira um número válido.';
                               }
                               "/>
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Solicitante</label>
                        <select asp-for="SolicitanteId" id="Solicitante-out" class="form-control squareborder">
                        </select>
                        <span asp-validation-for="SolicitanteId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL CONSUMO(?)-->
<div class="modal fade cleanable" id="modal-create-diff" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-diff-title">Cadastrar Consumo</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-diff">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="consumo" asp-for="Tipo" />
                    @* <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-diff" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div> *@
                    <div class="form-group">
                        <label asp-for="OrigemId" class="control-label">Origem</label>
                        <select asp-for="OrigemId"
                                class="form-control squareborder"
                                id="Origem-diff"
                                onchange="
                                const selected=get.id('Origem-diff').value;
                                const selectMat=get.id ('Material-diff');
                                fetch('/Almoxarifado/GetMateriais/' + selected)
                                .then(res => res.json())
                                .then(json => 
                                {
                                    selectMat.innerHTML = '<option disabled selected>Selecione o material</option>';;
                                    console.log (json);
                                    for(mat of json)
                                    {
                                        const opt = document.createElement('option');
                                        opt.value = mat.id;
                                        opt.innerText = mat.showid;
                                        opt.title = mat.descricao;
                                        selectMat.appendChild(opt);
                                    }
                                    selectMat.disabled = false;
                                });">
                                ">
                        </select>
                        <span asp-validation-for="OrigemId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId"
                                id="Material-diff"
                                disabled
                                class="form-control squareborder"
                                onchange="
                                const origin=get.id('Origem-diff').value;
                                const material=get.id('Material-diff').value;
                                const qtdField=get.id('Quantidade-diff');
                                qtdField.disabled=true;
                                Promise.all([
                                    fetch('/Almoxarifado/GetQuantidade/' + origin + '/' + material), 
                                    fetch('/Movimentacao/PegarUnidade/' + material)
                                ]).then(res => Promise.all([res[0].json(), res[1].json()]))
                                .then(([quantidade, un]) =>
                                {
                                    qtdField.setAttribute('data-val-maximum', quantidade);
                                    let label = get.id('Quantidade-diff-label').innerHTML;
                                    label = label.slice(0, 10);
                                    get.id('Quantidade-diff-label').innerHTML = label + ` (Disponível: ${quantidade} ${un.abreviacao || un.nome})`;
                                    
                                    qtdField.disabled = false;
                                });
                                ">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade" id="Quantidade-diff-label" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" 
                               id="Quantidade-diff" 
                               class="form-control squareborder" 
                               type="number" 
                               min="0"
                               step="any"
                               data-val-regex-pattern="-?[0-9]+([.][0-9])?"
                               data-val-regex="Insira um número válido"
                               onchange="
                               const field = get.id('Quantidade-diff');
                               const max = field.getAttribute('data-val-maximum');
                               const input = field.value;
                               
                               if (Number.parseInt(input) > Number.parseInt(max))
                               {
                                    field.value = max;
                                    field.focus();
                               }
                               else if (Number.parseInt(input) < 1)
                               {
                                    field.value = 1; 
                                    field.focus();
                               }
                               "
                               onblur="
                               const validation = get.id('Quantidade-diff-error');
                               console.log(validation)
                               if (validation && validation.innerHTML == 'Please enter a valid number.')
                               {
                                   validation.innerHTML = 'Insira um número válido.';
                               }
                               "/>
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

