@model SGEP.Models.Movimentacao
<!--MODAL ENTRADA-->
<div class="modal fade" id="modal-create-in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-in-title">Cadastrar Entrada</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-in">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="entrada" asp-for="Tipo" />
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-in" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DestinoId" class="control-label">Destino</label>
                        <select asp-for="DestinoId" id="Destino-in" class="form-control squareborder" data-val-required="Este campo é obrigatório.">
                        </select>
                        <span asp-validation-for="DestinoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId" 
                                id="Material-in" 
                                class="form-control squareborder"
                                onchange="
                                var matselectIn = document.getElementById('Material-in');
                                var qtlabel = document.getElementById('Quantidade-in-label');
                                var selected = matselectIn.options[matselectIn.selectedIndex].value;

                                fetch('/Movimentacao/PegarUnidade/' + selected)
                                .then(res => res.json())
                                .then(un => {
                                    if (un.abreviacao == null) qtlabel.innerText = 'Quantidade (' + un.nome + ')';
                                    else qtlabel.innerText = 'Quantidade (' + un.abreviacao + ')';
                                });
                                ">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label id="Quantidade-in-label" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" id="Quantidade-in" class="form-control squareborder" type="number" min="0" />
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL SAÍDA-->
<div class="modal fade" id="modal-create-out" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-out-title">Cadastrar Saída</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-out">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="saída" asp-for="Tipo" />
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-out" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrigemId" class="control-label">Origem</label>
                        <select asp-for="OrigemId"
                                id="Origem-out"
                                class="form-control squareborder"
                                data-val-required="Este campo é obrigatório."
                                onchange="
                                const selected=get.id('Origem-out').value;
                                const selectDest=get.id ('Destino-out');
                                const selectMat=get.id ('Material-out');
                                selectDest.disabled=true;
                                selectMat.disabled=true;
                                selectDest.innerHTML='<option disabled selected>Selecione a origem</option>' ;
                                selectMat.innerHTML='<option disabled selected>Selecione a origem</option>' ;
                                fetch('/Almoxarifado/All')
                                .then(res => res.json())
                                .then(json =>
                                {
                                    for(alm of json)
                                    {
                                        if (alm.id == selected)
                                            continue;
                                        if (alm.ativo)
                                        {
                                            const opt = document.createElement('option');
                                            opt.value = alm.id;
                                            opt.innerText = alm.nome;
                                            selectDest.appendChild(opt);
                                        }
                                    }
                                    selectDest.disabled = false;
                                });

                                fetch('/Almoxarifado/GetMateriais/' + selected)
                                .then(res => res.json())
                                .then(json => 
                                {
                                    selectMat.innerHTML = '<option disabled selected>Selecione o material</option>';;
                                    console.log (json);
                                    for(mat of json)
                                    {
                                        const opt = document.createElement('option');
                                        opt.value = mat.id;
                                        opt.innerText = mat.showid;
                                        opt.title = mat.descricao;
                                        selectMat.appendChild(opt);
                                    }
                                    selectMat.disabled = false;
                                });">
                        </select>
                        <span asp-validation-for="OrigemId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="DestinoId" class="control-label">Destino</label>
                        <select asp-for="DestinoId" id="Destino-out" class="form-control squareborder" data-val-required="Este campo é obrigatório.">
                        </select>
                        <span asp-validation-for="DestinoId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId" id="Material-out" class="form-control squareborder"
                        onchange="
                        const origin = get.id('Origem-out').value;
                        const material = get.id('Material-out').value;
                        const qtdField = get.id('Quantidade-out');
                        qtdField.disabled = true;
                        Promise.all([
                            fetch('/Almoxarifado/GetQuantidade/' + origin + '/' + material),
                            fetch('/Movimentacao/PegarUnidade/' + material)
                        ])
                        .then(res => Promise.all([res[0].json(), res[1].json()]))
                        .then(([json, un]) => 
                        {
                            for (o of json) 
                                if (o.materialId == material) 
                                {
                                    qtdField.setAttribute('data-val-maximum', o.quantidade);
                                    let label = get.id('Quantidade-out-label').innerHTML;
                                    label = label.slice(0, 10);
                                    get.id('Quantidade-out-label').innerHTML = label + `(Disponível: ${o.quantidade} ${un.abreviacao || un.nome})`;
                                    break;
                                }
                            
                            qtdField.disabled = false;
                        });
                        ">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade" id="Quantidade-out-label" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" 
                               id="Quantidade-out" disabled 
                               placeholder="Selecione o material" 
                               class="form-control squareborder" 
                               type="number" 
                               data-val-regex-pattern="-?[0-9]+"
                               data-val-regex="Insira um número válido"
                               onchange="
                               const field = get.id('Quantidade-out');
                               const max = field.getAttribute('data-val-maximum');
                               const input = field.value;
                               
                               if (Number.parseInt(input) > Number.parseInt(max))
                               {
                                    field.value = max;
                                    field.focus();
                               }
                               else if (Number.parseInt(input) < 1)
                               {
                                    field.value = 1; 
                                    field.focus();
                               }
                               "
                               onblur="
                               const validation = get.id('Quantidade-out-error');
                               console.log(validation)
                               if (validation && validation.innerHTML == 'Please enter a valid number.')
                               {
                                   validation.innerHTML = 'Insira um número válido.';
                               }
                               "/>
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--MODAL CONSUMO(?)-->
<div class="modal fade" id="modal-create-diff" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-diff-title">Cadastrar Consumo</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-diff">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" value="consumo" asp-for="Tipo" />
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-diff" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OrigemId" class="control-label">Origem</label>
                        <select asp-for="OrigemId"
                                class="form-control squareborder"
                                id="Origem-diff"
                                onchange="
                                const selected=get.id('Origem-diff').value;
                                const selectMat=get.id ('Material-diff');
                                fetch('/Almoxarifado/GetMateriais/' + selected)
                                .then(res => res.json())
                                .then(json => 
                                {
                                    selectMat.innerHTML = '<option disabled selected>Selecione o material</option>';;
                                    console.log (json);
                                    for(mat of json)
                                    {
                                        const opt = document.createElement('option');
                                        opt.value = mat.id;
                                        opt.innerText = mat.showid;
                                        opt.title = mat.descricao;
                                        selectMat.appendChild(opt);
                                    }
                                    selectMat.disabled = false;
                                });">
                                ">
                        </select>
                        <span asp-validation-for="OrigemId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId"
                                id="Material-diff"
                                disabled
                                class="form-control squareborder"
                                onchange="
                                const origin=get.id('Origem-diff').value;
                                const material=get.id('Material-diff').value;
                                const qtdField=get.id('Quantidade-diff');
                                qtdField.disabled=true;
                                Promise.all([
                                    fetch('/Almoxarifado/GetQuantidade/' + origin + '/' + material), 
                                    fetch('/Movimentacao/PegarUnidade/' + material)
                                ]).then(res => Promise.all([res[0].json(), res[1].json()]))
                                .then(([json, un]) =>
                                {
                                    for (o of json) 
                                        if (o.materialId == material) 
                                        {
                                            qtdField.setAttribute('data-val-maximum', o.quantidade);
                                            let label = get.id('Quantidade-diff-label').innerHTML;
                                            label = label.slice(0, 10);
                                            get.id('Quantidade-diff-label').innerHTML = label + `(Disponível: ${o.quantidade} ${un.abreviacao || un.nome})`;
                                            break;
                                        }
                                    
                                    qtdField.disabled = false;
                                });
                                ">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade" id="Quantidade-diff-label" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" 
                               id="Quantidade-diff" 
                               class="form-control squareborder" 
                               type="number" 
                               min="0"
                               onchange="
                               const field = get.id('Quantidade-diff');
                               const max = field.getAttribute('data-val-maximum');
                               const input = field.value;
                               
                               if (Number.parseInt(input) > Number.parseInt(max))
                               {
                                    field.value = max;
                                    field.focus();
                               }
                               else if (Number.parseInt(input) < 1)
                               {
                                    field.value = 1; 
                                    field.focus();
                               }
                               "
                               onblur="
                               const validation = get.id('Quantidade-diff-error');
                               console.log(validation)
                               if (validation && validation.innerHTML == 'Please enter a valid number.')
                               {
                                   validation.innerHTML = 'Insira um número válido.';
                               }
                               "/>
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

