@model SGEP.Models.Movimentacao

<div class="modal fade" id="modal-create-in" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-in-title">Cadastrar Entrada</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-in">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-in" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Destino" class="control-label">Destino</label>
                        <select asp-for="Destino" id="Destino-in" class="form-control squareborder">
                        </select>
                        <span asp-validation-for="Destino" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId" id="Material-in" class="form-control squareborder">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" id="Quantidade-in" class="form-control squareborder" type="number" min="0"/>
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" hidden value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-create-out" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content squareborder">
            <div class="modal-header header-dark squareborder">
                <h5 class="modal-title" id="modal-create-out-title">Cadastrar Saída</h5>
                <button type="button" style="color:white;" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="_Create" asp-controller="Create" id="form-create-out">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Data" class="control-label"></label>
                        <input asp-for="Data" id="Data-out" class="form-control squareborder" />
                        <span asp-validation-for="Data" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Origem" class="control-label">Origem</label>
                        <select asp-for="Origem" 
                                id="Origem-out" 
                                class="form-control squareborder"
                                onclick="">
                        </select>
                        <span asp-validation-for="Origem" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Destino" class="control-label">Destino</label>
                        <select asp-for="Destino" id="Destino-out" class="form-control squareborder">
                        </select>
                        <span asp-validation-for="Destino" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaterialId" class="control-label">Material</label>
                        <select asp-for="MaterialId" id="Material-out" class="form-control squareborder">
                        </select>
                        <span asp-validation-for="MaterialId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantidade" class="control-label">Quantidade</label>
                        <input asp-for="Quantidade" id="Quantidade-out" class="form-control squareborder" type="number" min="0"/>
                        <span asp-validation-for="Quantidade" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" hidden value="Salvar" class="btn btn-success squareborder" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
